.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 0;
  width: 100%;
  max-width: 302px;
  background: $red;
  border-radius: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Manrope";
  font-weight: 800;
  @include title2($white);
  &:hover{
    background: $hovered;
  }
  &:active{
    background: $active;
    color: #D6B687;
  }
  &:disabled{
    color: $gray-6;
    background: $gray-7;
  }
  &_s{
    max-width: 122px;
    padding: 16px 0;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: unset;
  }
  &_l{
    max-width: 370px;
  }
  @media($mobile){
    padding: 16px 0;
    max-width: 100%;
  }
}

.help-button{
    display: inline-flex;
    align-items: center;
    background-color: $red;
    border-radius: 24px;
    @include title2($white);
    font-weight: 800;
    &:hover{
      background: $hovered;
      .help-button__icon:before {
        filter: invert(1);
      }
    }
    &:active{
      background: $active;
      .help-button__icon:before {
        filter: invert(1);
      }
    }
  &__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: $white;
    border-radius: 50%;
    padding: 0;
    border: none;
    outline: none;
    height: 48px;
    min-width: 48px;
    width: 48px;
    &:before{
      content: url('../../static/img/arrow.svg');
      filter: invert(40%) sepia(51%) saturate(4223%) hue-rotate(336deg) brightness(95%) contrast(92%);
      height: 32px;
    }
  }
}