.project-item{
  background-color: $gray-1;
  background-image: url('../../static/img/objects.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: $radius;
  display: flex;
  align-items: center;
  width: 100%;
  &:not(:last-child){
    margin-bottom: 8px;
  }
  &_no-bg{
    background-image: none;
  }
  &_hidden{
    display: none;
  }
  &__wrapper{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    &:hover{
      div{
        background-color: $white;
        img{
          filter: invert(1);
        }
      }
      a{
        color: $red;
      }
    }
  }
  &__icon{
    background-color: $red;
    border-radius: 50%;
    min-width: 32px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
    transition: .3s all;
    &:hover{
      background-color: $white;
      img{
        filter: invert(1);
      }
    }
  }
  &__left{
    padding: 120px 0 120px 120px;
    width: 100%;
    max-width: calc(64% - 82px);
  }
  &__title{
    @include h1($white);
    display: inline-block;
    transition: .2s all;
    &:hover{
      color: $red;
    }
  }
  &__btn{
    margin-top: 48px;
  }
  &__right{
    width: 100%;
    max-width: 36%;
    margin-left: auto;
    align-self: stretch;
    img{
      object-fit: cover;
      height: 100%;
      border-radius: $radius $radius $radius 0;
    }
  }
  @media($tablet){
    border-radius: $sm-radius;
    &__left{
      padding: 32px 0 32px 16px;
    }
    &__right{
      img{
        border-radius: $sm-radius;
      }
    }
    &_no-bg{
      background-color: $dark;
    }
  }

  @media($mobile){
    flex-direction: column-reverse;
    &__icon{
      display: none;
    }
    &__title{
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -.4px;
      padding-left: 24px;
    }
    &__btn{
      display: none;
    }
    &__left{
      padding: 0 !important;
      max-width: 100%;
      margin-top: -84px;
    }
    &__right{
      margin-left: 0;
      max-width: 100%;
      img{
        min-height: 515px;
      }
    }
    &_hidden{
      margin-top: 8px;
      display: flex;
    }
    &_no-bg{
      background-color: unset;
    }
  }
}