@import "mixins";

@import "../UI/caption";
@import "../UI/achievement";
@import "../UI/task";
@import "../UI/btn";
@import "../UI/inputs";
@import "../UI/project";
@import "../UI/breadcrumbs";
@import "../UI/slider-item";
@import "../UI/slick-theme";
@import "../UI/slick";

html {
  height: 100%;
  font-family: 'Manrope';
  font-weight: 500;
}
body{
  background: $dark;
  color: $dark;
}
//*{
//  scrollbar-color: $blue rgba(61, 64, 80, 1);
//  scrollbar-width:thin;
//  &::-webkit-scrollbar{
//    width:6px;
//    height:8px;
//  }
//  &::-webkit-scrollbar-track{
//    background-color:rgba(61, 64, 80, 1);
//    border-radius: 3px;
//  }
//  &::-webkit-scrollbar-thumb{
//    background-color: $blue;
//    border-radius: 3px;
//  }
//}

section:not(:first-of-type){
  margin-top: 8px;
}

.wrapper{
  display: flex;
  align-items: center;
}

.container {
  max-width: 2100px;
  width: 100%;
  padding: 0 8px;
  margin: 0 auto;
  @media($mobile){
    padding: 0;
  }
}
.h{
  @include h1()
}

.test{
  @extend %test
}