//Colors
$dark:#292929;
$red:#EA4545;
$gray:#EAEAEA;

$gray-1:#3E3E3E;
$gray-2:#545454;
$gray-3:#696969;
$gray-4:#7F7F7F;
$gray-5:#A9A9A9;
$gray-6:#D4D4D4;
$gray-7:#DDDDDD;

$white:#FFFFFF;

$light-red:#EE6A6A;

$hovered:#EAA845;
$active:#BB8637;


$radius:96px;
$sm-radius:32px;
//Screens
$tablet: 'max-width:1100px';
$mobile: 'max-width:767px';
$mobile-mini: 'max-width:600px';