.about{
  @include section();
  background-image: url('../../static/img/profit.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  &__text{
    @include h1();
    span{
      color: $red;
    }
  }
  &__btn{
    margin-top: 48px;
  }
  @media($tablet){
    @include section-sm();
  }
  @media($mobile){
    background-image: none;
    &__text{
      @include title();
    }
    &__btn{
      margin-top: 24px;
    }
  }
}