.about{
  @include section();
  background-image: url('../../static/img/profit.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  &__text{
    @include h1();
    span{
      color: $red;
    }
  }
  &__btn{
    margin-top: 48px;
  }
  &-page{
    min-height: 1035px;
    &__caption{
      position: absolute;
      z-index: 10;
      bottom: 29%;
      left: 50%;
      transform: translateX(-50%);
    }
    &__achievements{
      background-image: url('../../static/img/achievements.png');
      background-size: cover;
      background-position: center;
      padding: 32px;
      border-radius: 96px;
      position: relative;
      margin-top: -407px !important;
    }
  }
  @media($tablet){
    @include section-sm();
    &-page{
      min-height: unset;
      padding-bottom: 70px;
      &__achievements{
          padding: 32px 16px;
          border-radius: 32px;
          margin-top: -48px !important;
        &-list{
          background: unset;
        }
      }
      &__caption{
        position: relative;
        margin-top: 24px;
      }
    }
  }
  @media($mobile){
    background-image: none;
    &__text{
      @include title();
    }
    &__btn{
      margin-top: 24px;
    }
    &-page{
      &__caption{
        position: relative;
      }
    }
  }
}