.achievements{
  &-list {
    display: flex;
    align-items: center;
    &__item {
      background: $gray-1;
      border-radius: $radius;
      padding: 96px 0;
      width: 100%;
      text-align: center;
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
      &__title {
        @include mediumTitle($white);
      }
      &__description {
        @include title($gray-5);
      }
  }
  @media($tablet){
    &-list {
      flex-direction: column;
      border-radius: $sm-radius;
      background: $gray-1;
      padding: 32px 16px;
    }
  }
}