.contacts-page{
    &__lead-block{
      padding: 64px 0 0 0;
    }
    &__map{
      margin-top: 84px;
    }
  @media($tablet){
    padding: 32px 0 16px;
      &__lead-block{
        padding-top: 0;
      }
      &__map{
        margin-top: 32px;
      }
  }
}