.projects{

  &__btn{
    display: none;
  }
  &__title{
    display: none;
  }
  @media($tablet){
    border-radius: $sm-radius;
  }
  @media($mobile){
    padding: 32px 16px;
    background-image: none;
    background-color: $gray-1;
    &__title{
      @include h3();
      font-weight: 800;
      color: $white;
      display: block;
      margin-bottom: 24px;
    }
    &__btn{
      display: flex;
      margin-top: 24px;
    }
  }
}
.mobile-wrapper{
  margin-bottom: 8px;
  @media($tablet){
    padding: 32px 16px;
    background: $gray-1;
    border-radius: $sm-radius;
    &__projects{
      margin-top: 0!important;
      padding:0;
    }
  }
}