.reconstruction{
  @include section();
  &__title{
    @include h1();
    margin-bottom: 48px;
    span{
      color: $red;
    }
  }
  &__text{
    @include body();
  }
  &__text+&__text{
    margin-top: 32px;
  }
  @media($tablet){
    @include section-sm();
  }
  @media($mobile){
    &__title{
      @include h3();
      margin-bottom: 24px;
    }
    &__text{
      @include body2();
    }
    &__text+&__text{
      margin-top: 16px;
    }
  }
}