.services{
  &__item{
    margin-top: 8px;
    &:first-of-type{
      margin-top: 0;
    }
  }
}
.service-item{
  background: $gray;
  border-radius: $radius;
  padding: 120px;
  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__bottom{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 48px;
    margin-bottom: -8px;
  }
  &__title{
    position: relative;
    @include h1($dark);
  }
  &__button{
    width: 48px;
    height: 48px;
    background: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    cursor: pointer;
    transition: .3s all;
    &_active{
      transform: rotate(90deg);
      background: $dark;
    }
  }
  &__link{
    border: 2px solid $gray-6;
    border-radius: 20px;
    padding: 6px 16px;
    @include title2($color: $dark);
    font-weight: 800;
    margin-bottom: 8px;
    &:not(:last-child){
      margin-right: 8px;
    }
  }
  @media($tablet){
    padding: 32px;
    border-radius: $sm-radius;
  }
  @media($mobile){
    padding: 16px;
    &__bottom{
      border-top: 1px solid $gray-7;
      padding-top: 64px;
      margin-top: 32px;
      position: relative;
      &:before{
        content: 'Выбрать направление:';
        position: absolute;
        top: 24px;
        left: 0;
        @include body2($dark);
      }
    }
    &__title{
      font-size: 20px;
      line-height: 24px;
    }
  }
}